---
import Layout from './Layout.astro';
import Navbar from './Navbar.astro';
import "../styles/global.css";

export interface Props {
  title?: string;
  description?: string;
  currentPath?: string;
}

const { 
  title = "::BXS::", 
  description = "BXS Website",
  currentPath = ""
} = Astro.props;
---

<Layout title={title} description={description}>
  <main class="flex-1 min-h-screen relative">
    <Navbar currentPath={currentPath} />
    <slot />
  </main>
</Layout>
